<!DOCTYPE html>
<html>
<head>
	<title>family</title>
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'down.css' %}"/>  
</head>
<body>
	<header>
		<nav>
			<pre><h1>Balram  Kumar  Singh</h1></pre>
			<ul id="nav">
				<li><a class="homered" href="#">Home</a></li>
				<li><a class="homeblack" href="#">About</a></li>
				<li><a class="homeblack" href="#">Family</a></li>
				<li><a class="homeblack" href="#">Adress</a></li>
			</ul>
		</nav>
	</header>
	<div class="divider"></div>
	<div class="fwimage1"></div>
</body>
</html>